gurobi-sphinxtheme @ git+https://github.com/Gurobi/gurobi-sphinxtheme.git@main
setuptools
sphinx-carousel==1.2.0
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinx-last-updated-by-git== 0.3.8
sphinx-tabs==3.4.5
sphinx==7.3.7
sphinxcontrib-images==0.9.4