pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Subtler drop shadow */
.drop-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.drop-shadow:hover {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}
